<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>header</title>
</head>
<body>
<div th:fragment="header">
    <div class="container py-1">
        <div class="d-flex justify-content-end">
            <ul class="nav">
                <li class="nav-item"><a href="/members/login" class="nav-link link-body-emphasis px-3"   sec:authorize="!isAuthenticated()" >로그인</a></li>
                <li class="nav-item"><a href="/members/new" class="nav-link link-body-emphasis px-1"  sec:authorize="!isAuthenticated()" >회원가입</a></li>
                <li class="nav-item"><a href="/members/logout" class="nav-link link-body-emphasis px-1"  sec:authorize="isAuthenticated()" >로그아웃</a></li>
            </ul>
        </div>
    </div>
    <header class="py-2 mb-0 border-bottom">
        <div class="container d-flex flex-wrap justify-content-between align-items-center">
            <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
                <span class="fs-2">Runners club</span>
            </a>
            <ul class="nav  nav-underline nav-center d-flex justify-content-center">
                <li class="nav-item"><a href="/admin/item/new" class="nav-link link-body-emphasis px-4"
                                        sec:authorize="hasAnyAuthority('ROLE_ADMIN')">상품등록</a>
                </li>
                <li class="nav-item"><a href="/admin/items" class="nav-link link-body-emphasis px-4"
                                        sec:authorize="hasAnyAuthority('ROLE_ADMIN')" >상품관리</a></li>
                <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-4"
                                        sec:authorize="isAuthenticated()">장바구니</a></li>
                <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-4"
                                        sec:authorize="isAuthenticated()">구매이력</a></li>
            </ul>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0" role="search">
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
            </form>
        </div>
    </header>
</div>
</body>
</html>