<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>사이드바</title>
</head>
<body>
<div th:fragment="sidebar">
    <div class="d-flex" id="wrapper" style="border: none;">
        <!-- Sidebar-->
        <div class="border-end bg-white" id="sidebar-wrapper"  style="border: none;  border-right: none !important; " >
            <div class="sidebar-heading "  style="border: none">마이페이지</div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!"  style="border: none">Dashboard</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/cart"   style="border: none">장바구니</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!"  style="border: none">Overview</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!"  style="border: none">Events</a>

            </div>
        </div>

        <!-- 본문-->
        <div class="container-fluid">

        </div>

    </div>
</div>

</body>
</html>